*{
    font-family: 'Montserrat', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
   
    font-family: 'Mochiy Pop P One', sans-serif;;
}
:root {
    --main-color: #C0D8C0;
    --sec-color: #F5EEDC;
  }
.iconav{
    color: var(--main-color)!important;
}
.titnav{
    text-decoration: none;
    color: var(--main-color)!important;
    font-size: 40px;
}
.linknav{
    text-decoration: none;
    color: var(--main-color) !important;
    font-size: 20px;
}
.titnav:hover{
    color: black!important;
}
.linknav:hover{
    color: black!important;
}
.navbar{
    background-color: var(--sec-color)!important;
}
.immhead{
    width: 20vw;
    height: 70vh;
    transform: rotate(20deg);
}
.firstcont{
    background-color: var(--main-color);
}
.tithead{
    font-size: 50px;
}
.iconcine{
    color: red;
}
.iconcine:hover{
   
    transform: scale(1.2);
}
.Pebbles{
    border-radius: 50%;   
    width: 10vw; 
}
.carosello{
    height: 20vh!important;
}
.icface{
    color: blue;
}
.icinsta{
    color: red;
}
.iclinke{
    color: blue;
}
footer{
    background-color: var(--main-color);
}
@media screen and (max-width:700px) {
    .carosello{
        width: 50vw;
        height: 20vh;
       
    }
}
@media screen and (max-width:700px) {
    .immhead{
        width: 70vw;
        height: 50vh;
        transform: rotate(0deg);
        margin-left: 40px;
    }
}
